---
import BaseLayout from '@layouts/BaseLayout.astro';
import External from '~icons/lucide/external-link';
---

<BaseLayout
	title="Now - What keeps me busy at the moment?"
	description="This page describes what's keeping me busy these days in all areas of life"
>
	<article>
		<h1 class="section-heading">Now</h1>

		<p class="date">Last updated: 20 December 2025</p>

		<p class="description">
			This page describes what's keeping me busy these days in all areas
			of life. <a
				href="https://nownownow.com/about"
				target="_blank"
				title="Find out what a now page is (external link)"
			>
				What now? <External />
			</a>
		</p>

		<h2 class="section-heading">Work</h2>
		<p>
			I transitioned into my next Fullstack dev role in July 2025. So far
			it's been going really well. Everyone's very happy with me - I was
			able to provide value from day one and start working on features and
			bugs immediately. I got a lot of compliments because of that, which
			of course made me happy to hear.<br /><br />

			The complexity of the project is very different from my previous
			job. While before I was working on a lot of new projects, starting
			new codebases and making decisions, all of that has already been
			done this time and I've joined a project that's been almost a decade
			in the making.<br /><br />

			As with any big codebase, there's some tech debt here and there that
			needs to be addressed, but the team is usually quick to catch up and
			fix past mistakes.<br /><br />

			Other than that, implementing new features, fixing bugs, and
			changing the news platforms to the liking of our stakeholders is my
			daily business. There's a variety of things to work on, and I can
			say it's truly a FULLSTACK role. Frontend in Vue/JS, SCSS; backend
			in TS; some services in PHP - there's a lot to work on and I can
			really put the expertise I gained over the last couple of years into
			every aspect of our products.<br /><br />

			Having said that: I do miss writing new applications and code which
			is why I go on more side quests at home these days.
		</p>

		<h2 class="section-heading">Hobby projects</h2>
		<p>
			I went on a couple of side quests over the last few months. Moving
			all my projects over to my VPS was one of them. I still had some
			sites left on a cheap static hosting plan, which I recently canceled
			after the transition was done.<br /><br />

			All of my side projects/websites now have analytics enabled, powered
			by my self-hosted <a target="_blank" href="https://umami.is"
				>Umami</a
			> instance. I also took the time to build a proper GitHub Actions deployment
			flow for pushing/merging on main so I don't have to manually deploy every
			time.
			<br /><br />

			I built a project boilerplate for myself in
			<a target="_blank" href="https://astro.build">Astro JS</a> so I can build
			smaller landing pages and side projects faster. You might ask yourself
			why I chose Astro instead of SvelteKit, even though I'm more familiar
			with SvelteKit, especially for highly dynamic Fullstack apps. The reason
			is simple: I really appreciate how Astro is meant for static pages, and
			you make the parts that need reactivity reactive and nothing else. You
			ship minimal code to the client and everything is in a tight bundle -
			performant and SEO-friendly by default. I might consider using SvelteKit
			again for a project if it's really complex and there are almost no static
			pages. Who knows? For now, I like this approach.<br /><br />

			I built a little tool to color my wallpapers to match my terminal
			and Neovim theme because "hey, why not?" You can try it out at
			<a target="_blank" href="https://imgthemer.com">ImgThemer.com</a> and
			color your wallpaper in over 500 different ways.<br /><br />

			I had a short stint with the Godot game engine, but not enough to
			show anything of importance. For now that's on hold, but it was fun
			- I'll return to it at some point.<br /><br />

			I built a prototype (heavily with AI, though) for a desktop app to
			chat with different LLMs via OpenRouter because I wanted to have a
			proper desktop app for that. I didn't like the OpenRouter frontend,
			and even though I mostly live in the terminal, sometimes it's nice
			to have a dedicated desktop app. Using Tauri was a great experience,
			and I plan on properly rebuilding it by hand. I only wanted to
			validate the concept and check how far I could take this and also
			push AI.<br /><br />

			Last but not least, I'm currently learning Japanese. It's been on my
			list for so long, and I already learned some in the past but never
			picked it up again until now. My approach to it is a lot more
			structured now, and I already understand basic sentences and can
			read one of their three scripts, Hiragana. Next up is Katakana, and
			I've already started to study some Kanji, although there are
			thousands and it's more of a "learn the 2,000 most common" thing.
			Yeah... it's going to be a long journey.
		</p>

		<h2 class="section-heading">Fitness</h2>
		<p>
			I started lifting again and tracking my calories (well, not over the
			holidays), but my age shows. Shoulders hurt - I need to do some
			mobility work. Other than that, I feel good, but I also have a long
			way to go to feel REALLY fit again.
		</p>
	</article>
</BaseLayout>

<style lang="scss">
	article {
		.date {
			color: var(--gray);
		}

		p {
			a {
				display: inline-flex;
				gap: 4px;
				align-items: center;
				color: var(--primary);
				border-bottom: 1px solid var(--primary);
			}
		}
	}
</style>
